* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    line-height: 22.5px;
}

body {
    
    font-weight: 400;
    background-color: #f1f1f1;
}

h1 {
    width: 1141px;
    height: 54px;
    color: black;
    font-size: 36px;
    line-height: 54px;
    margin: 10px 0;
    font-weight: 700;
}



.sidebar {
    float: left;
    background-color: #fff;
    width: 300px;
    min-height: 100vh;
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-sidebar {
    width: 300px;
    height: 236px;
    font-size: 15px;
    
    padding: 0 16px;
}

.icon-web {
    width: 121px;
    height: 121px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 33px;
}

.title-web {
    color: #757575;
    margin: 15px 0px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}



.button-home {
    width: 100%;/*để 100% cho nó bằng độ rộng của lớp cha chứa nó là lớp sidebar*/
    height: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ccc;
    color: #000000;
    text-align: left;
    padding: 8px 16px;
}

.button-characters {
    width: 100%;
    height: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ccc;
    color: #000000;
    text-align: left;
    padding: 8px 16px;
}

.box-content {
    margin-left: 300px;
}

.container {
    font-size: 15px;
    
    padding: 0.15px 16px;
}

.h1-characters {
    max-width: 1141px;
    height: 54px;
}

.b-characters {
    width: 199px;
    height: 42px;
}

.button-bar {
    max-width: 1141px;
    min-height: 76px;
    margin: 16px 0;
    padding: 16px 0;
    padding-bottom: 20px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: black;
}

.span-fillter {
    margin-right: 20px;
    margin-bottom: 16px;
}

.buttons {
    max-height: 39px;
    padding: 8px 16px;
    font-size: 15px;
    
    /* text-align: center; */
}

.row-characters {
    max-width: 1173px;
    
}

.box-character {
    max-width: 386px;
    padding: 0 8px;
    
}

.img-characters {
    width: 370px;
    height: 246px;
    display: inline-block;
    vertical-align: bottom;
}

.container-characters {
    width: 370px;
    height: 135px;
    padding: 15px 16px;
    background-color: #fff;
    
}