* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #f1f1f1;
}

h1 {
    color: black;
    
}

.welcometosite {
    text-align: center;
    padding-top: 80px;
    height: 200px;
    background-color: #fff;
}

.content {
    display: flex;
    
}

.box-button {
    background-color: #fff;
    width: 300px;
    padding: 10px 55px;
    margin-right: 20px;
    
}



.button-home {
    text-align: center;
    padding-top: 17px;
    background-color: blue;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 155px;
    height: 55px;
}

.button-characters {
    text-align: center;
    padding-top: 17px;
    background-color: blue;
    text-decoration: none;
    border-radius: 10px;
    width: 155px;
    height: 55px;
}

.text-home {
    color: white;
    text-decoration: none;
    
}

.text-characters {
    color: white;
    text-decoration: none;
}

.row-characters {
    color: #fff;
    display: flex;
    flex-direction: row;
}

.box-image {
    width: 370px;
    height: 246px;
}

.title-image {
    display: block;
}

.soukaku-icon {
    max-width: 370px;
    max-height: 246px;
}

.box-content {
    padding: 10px 53px;
    background-color: #fff;
    width: 383px;
    height: 50px;
}

.button-info {
    text-align: center;
    background-color: blue;
    width: 270px;
    height: 30px;
    border-radius: 10px;
    padding-top: 5px;
}

.info-characters {
    
    color: white;
    
    text-decoration: none;
}




