* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #f1f1f1;
}

h1 {
    color: black;
    
}



.sidebar {
    background-color: #fff;
    width: 300px;
    min-height: 790px;
    max-height: 790px;
    padding: 23px 0;
    display: flex;
    flex-direction: column;
}

.container-sidebar {
    width: 300px;
    height: 236px;
    font-size: 15px;
    line-height: 22.5px;
    padding: 0 16px;
}

.icon-web {
    width: 121px;
    height: 121px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

p {
    color: #757575;
    margin: 15px 0px;
}

.button-home {
    width: 300px;
    height: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ccc;
    color: #000000;
    text-align: left;
    padding: 8px 16px;
}

.button-characters {
    width: 300px;
    height: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ccc;
    color: #000000;
    text-align: left;
    padding: 8px 16px;
}

.container-content {
    margin-left: 300px;
}




