* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #f1f1f1;
}

h1 {
    color: black;
    
}

.welcometosite {
    padding: 70px 450px;
    height: 200px;
    background-color: #fff;
}

.site-button {
    background-color: #fff;
    width: 199px;
    
    padding: 10px 55px;
}

.button-home {
    padding: 8px 20px;
    background-color: blue;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.button-characters {
    padding: 8px 5px;
    background-color: blue;
    text-decoration: none;
    border-radius: 10px;
}

.link-characters {
    color: white;
    text-decoration: none;
}

.link-home {
    color: white;
    text-decoration: none;
}